
body{
    background-color: aquamarine;
}











.form{
    width: 400px;
    height: 100%;
    background-color: rgb(165, 165, 167);
    margin: auto;
    display: block;
    border-radius: 15px;
    text-align: center;
}

.form h1 {
    font-family: Arial, Helvetica, sans-serif;
}


.password:hover{
    border: 2.2px solid black;
}

.password{
    border-radius: 1px;
    margin-left: 39px;
}

.user{
    border-radius: 1px;
}
.user:hover{
    border: 2.2px solid black;
}

.items{
    padding: 30px;
}





.btn_sub{
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    background-color: aqua;
}

.btn_sub a{
     text-decoration: none;
     color: black;
     font-weight: 900;
}

.btn_sub a:hover{
    color: blue;
}
